<!doctype html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

                <title>{{ .config.Title }}</title>

                <link rel="stylesheet" href="css/reveal.css">
                <link id="theme" rel="stylesheet" href="css/theme/{{ .config.Theme }}.css">

                <!-- Theme used for syntax highlighting of code -->
                <link rel="stylesheet" href="lib/css/zenburn.css">

                <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
                <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

                <script>
Vue.directive("highlightjs", {
        deep: true,
        bind: function (el, binding) {
          // on first bind, highlight all targets
          let targets = el.querySelectorAll("code");
          targets.forEach((target) => {
            // if a value is directly assigned to the directive, use this
            // instead of the element content.
            if (binding.value) {
              target.textContent = binding.value;
            }
            hljs.highlightBlock(target);
          });
        },
        componentUpdated: function (el, binding) {
          // after an update, re-fill the content and then highlight
          let targets = el.querySelectorAll("code");
          targets.forEach((target) => {
            if (binding.value) {
              target.textContent = binding.value;
              hljs.highlightBlock(target);
            }
          });
        },
      });
                </script>

                <!-- Printing and PDF exports -->
                <script>
                        var link = document.createElement( 'link' );
                        link.rel = 'stylesheet';
                        link.type = 'text/css';
                        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
                        document.getElementsByTagName( 'head' )[0].appendChild( link );
                </script>
        </head>
        <body>
                <div class="reveal">
                        <div class="slides">
{{ range $i, $section := .sections }}
{{ $section }}
{{ end }}
                        </div>
                </div>

                <script src="lib/js/head.min.js"></script>
                <script src="js/reveal.js"></script>

                <script>
                        // More info about config & dependencies:
                        // - https://github.com/hakimel/reveal.js#configuration
                        // - https://github.com/hakimel/reveal.js#dependencies
                        Reveal.initialize({
                                {{ range $k, $v := .config.RevealJSConfig -}}
                                {{ $k }}: {{ $v }},
                                {{ end }}
                        });
                </script>
                <script src="https://vjs.zencdn.net/7.8.4/video.js"></script> 
        </body>
</html>